<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmalns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>AddEmployee</title>
    <link rel="stylesheet" href="addEmployee.css" th:href="@{/templates/addEmployee.css}"/>
</head>
<body>
<div id="navbar">
    <span><a id="employeeList" th:href="@{/employees}">Employee List</a></span>
</div>
<form method="POST" th:action="@{/employees/addEmployee}" th:object="${employee}" id="addForm">

    <div id="enterBox">
        <h1 >Enter your employee details:</h1>
        <label for="fName">First Name</label>
        <input type="text" id="fName" th:field="*{fName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('fName')}"
              th:errors="*{fName}">fName Error</span>
        <br>
        <label for="lName">Last Name</label>
        <input type="text" id="lName" th:field="*{lName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('lName')}"
              th:errors="*{lName}">lName Error</span>
        <br>
        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">email Error</span>
        <br>
        <label for="dob">Date of birth</label>
        <input type="date" id="dob" th:field="*{dob}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('dob')}"
              th:errors="*{dob}">dob Error</span>
        <br>

        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('phoneNumber')}"
              th:errors="*{phoneNumber}">phoneNumber Error</span>
        <br>
        <label for="department">Department</label>
        <select form="addForm" id="department" th:field="*{department}">
            <option value="value" selected hidden="hidden">Choose Department</option>
            <option th:each="department : ${departments}"
                    th:text="${department.name}"
                    th:value="${department.id}">department</option>
        </select>
        <br>
        <label for="position">Position</label>
        <select form="addForm" id="position" th:field="*{position}">
            <option value="value" selected hidden="hidden">Choose Position</option>
            <option th:each="position : ${positions}"
                    th:text="${position.name}"
                    th:value="${position.id}">position</option>
        </select>
        <br>
        <input id="submit" type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>