<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeList</title>
    <link rel="stylesheet" type="text/css" media="all" href="employeeList.css" th:href="@{/templates/employeeList.css}"/>

</head>
<body>
<div id="navbar">
    <span><a id="employeeList" th:href="@{/employees}">Employee List</a></span>
    <span><a id="addEmployee" th:href="@{employees/addEmployee}">Add Employee</a></span>
</div>
<h1 id="header">My first independent website</h1>
<div id="tableDiv">
    <span style="border-bottom: 2px inset; font-size: 40px; font-weight: bold; font-family: Calibri,serif">Employee List</span>
    <select name="links"  th:onchange="window.location.href=this.value">
        <option th:value="@{/employees}" >All Departments</option>
        <option th:each="department : ${departments}"
                th:text= "${department.name}"
                th:value="@{'/employees/' + ${department.name}}">department</option>
    </select>
    <select>
        <option>All Positions</option>
        <option th:each="position : ${positions}"
                th:text="${position.name}"
                th:value="${position.id}">position</option>
    </select>
    <table id="table">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Position</th>
            <th style="width: 35%">Actions</th>
        </tr>
        <tr th:each="employee : ${departmentAndPositionEmployees}">
            <td><span th:text="${employee.fName}">Firstname</span></td>
            <td><span th:text="${employee.lName}">Lastname</span></td>
            <td><span th:text="${employee.email}">e-mail</span></td>
            <td><span th:text="${employee.department.name}">department</span></td>
            <td><span th:text="${employee.position.name}">position</span></td>
            <td>
                <a th:href="@{'/employees/delete/' + ${employee.id}}">
                    <button style="background-color: red">DELETE</button>
                </a>

                <a th:href="@{'/employees/update/' + ${employee.id}}">
                    <button update-open-modal style="background-color:aqua">UPDATE</button>
                </a>

                <a th:href="@{'/employees/details/' + ${employee.id}}">
                    <button data-open-modal style="background-color: aqua">DETAILS</button>
                </a>
                <!--                <dialog data-modal>-->
                <!--                        <div class="modalInsideText">First Name:-->
                <!--                            <span th:text="${employee.fName}">Firstname</span>-->
                <!--                        </div>-->
                <!--                        <div class="modalInsideText">Last Name:-->
                <!--                            <span th:text="${employee.lName}">Lastname</span>-->
                <!--                        </div>-->
                <!--                        <div class="modalInsideText">Email address:-->
                <!--                            <span th:text="${employee.email}">Email</span>-->
                <!--                        </div>-->
                <!--                        <div class="modalInsideText">Date of Birth:-->
                <!--                            <span th:text="${employee.dob}">Date of Birth</span>-->
                <!--                        </div>-->
                <!--                        <div class="modalInsideText">Job Title:-->
                <!--                            <span th:text="${employee.jobTitle}">Job Title</span>-->
                <!--                        </div>-->
                <!--                        <div class="modalInsideText">Phone number:-->
                <!--                            <span th:text="${employee.phoneNumber}">Phone Number</span>-->
                <!--                        </div>-->
                <!--                        <button style="background-color: red; font-size: 20px" data-close-modal>Close</button>-->
                <!--                    </dialog>-->
                <!--                    <script>-->
                <!--                        const openButton = document.querySelector("[data-open-modal]")-->
                <!--                        const closeButton = document.querySelector("[data-close-modal]")-->
                <!--                        const modal = document.querySelector("[data-modal]")-->

                <!--                        openButton.addEventListener("click", () => {-->
                <!--                            modal.showModal()-->
                <!--                        })-->

                <!--                        closeButton.addEventListener("click", () => {-->
                <!--                            modal.close()-->
                <!--                        })-->
                <!--                    </script>-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>